<div class='flex justify-between rounded-xl dark:border-dark-3'>
  <div class='flex flex-row justify-evenly'>
    <div class='w-full px-6 md:border-r border-transparent'>
      <div class='my-6'>
        <div
          class='mb-5 h-custom overflow-hidden rounded-mdn flex flex-wrap content-between'
        >
          <div>
            <img
              src={{image}}
              alt='product'
              class='object-scale-down aspect-square'
            />
          </div>
          <div>
            <span
              class='mb-[10px] block text-lg font-semibold text-dark dark:text-white'
            >
              ${{price}}
            </span>

            <h3>
              <a
                href='/api/product/{{id}}'
                class='block mb-2 text-xl font-semibold text-dark dark:text-white hover:text-primary sm:text-2xl md:text-lg 2xl:text-2xl'
              >
                {{title}}
              </a>
            </h3>
            {{> ratingSystem}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>