<div class='border p-3 rounded-xl'>
  <p>
    Title:
    {{title}}

  </p>
  <p>
    Price:
    {{price}}
  </p>
  <p>
    Category:
    {{category}}
  </p>
  <img src={{image}} alt='product image' />

  <button class="btn btn-ghost cartBTN">Ghost</button>
</div>