
{{! rating system  }}
<p class='flex items-center text-base text-body-color dark:text-dark-6'>
    <div class="rating gap-1">
      <tr>
        {{{ get_stars rating.rate }}} {{rating.rate}} 
      {{!-- <br> out of {{rating.count}} reviews --}}
      </tr>
    </div>
</p>
{{! end of rating }}
