<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/output.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Document</title>
  </head>

  <body>
    <!-- nav -->
    <nav>
      <div class='navbar bg-ghostWhite'>
        <div class='flex-1'>
          <label
            for='my-drawer-2'
            class='drawer-button font-semibold pl-4 text-3xl'
          >
            <a href='/' type='click'>Fake Store</a>
          </label>
        </div>

    <div class='flex-none'>
        {{#if logged_in}}
          {{>shoppingCartSvg}}
        {{/if}}
    </div>
    
        <div class='dropdown dropdown-end'>
          <div
            tabindex='0'
            role='button'
            class='btn btn-ghost btn-circle avatar'
          >
            <div class='w-10 rounded-full'>
              <img
                alt='Tailwind CSS Navbar component'
                src='/images/no-user.png'
              />

            </div>
            <ul
              tabindex='0'
              class='menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52'
            >
              {{#if logged_in}}
                <li>
                  <a href='/profile' class='justify-between' type='click'>
                    Profile
                  </a>
                </li>
                <li>
                  <a
                    href='/api/users/logout'
                    class='justify-between'
                    type='click'
                  >Logout</a>
                </li>
              {{else}}
                <li>
                  <a href='/profile' class='justify-between' type='click'>
                    Profile
                    <span class='badge'>New</span>
                  </a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- SIDE BAR -->
    <section>
      <div class='drawer lg:drawer-open'>
        <input id='my-drawer-2' type='checkbox' class='drawer-toggle' />
        <div class='drawer-content flex flex-col items-center justify-center'>

          {{{body}}}

        </div>
        <div class='drawer-side'>
          <label
            for='my-drawer-2'
            aria-label='close sidebar'
            class='drawer-overlay'
          ></label>
          <ul class='menu p-4 w-60 min-h-full text-base-content bg-darkblue'>
            <!-- Sidebar content here -->
            <li class='text-ghostWhite'><a class='justify-center'>Page 1</a></li>
            <li class='text-ghostWhite'><a class='justify-center'>Page 2</a></li>
            <li class='text-ghostWhite'><a class='justify-center'>Page 3</a></li>
            <li class='text-ghostWhite'><a class='justify-center'>Page 4</a></li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>