{{#unless logged_in}}
<div class="carousel w-full h-300px mt-16 rounded-2xl shadow-xl">
  <div id="slide1" class="carousel-item relative w-full ">
    <div class="absolute inset-x-0 top-0 pl-4">
      <h2 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="stroke-info shrink-0 w-6 h-6 ">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        Make an Account!</h2>
      <p>Login to view our complete list of designer products and start shopping. </p>
    </div>
    <img src="/images/storeSlide-1.png" alt="clothes" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>

  <div id="slide2" class="carousel-item relative w-full">
    <div class="absolute inset-x-0 top-0 pl-4">
      <h2 class="card-title">Trending Now!
        <div class="badge badge-error gap-1 text-ghostWhite">
          <svg fill="#ffd500" height="13px" width="13px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611.999 611.999" xml:space="preserve"
            stroke="#ff7300">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952 c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029 c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851 c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386 c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073 c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826 C153.666,566.767,185.212,594.814,216.02,611.195z">
                </path>
              </g>
            </g>
          </svg>
          GOING FAST
        </div>
      </h2>
      <p>Get what's hot before it's gone.</p>
    </div>
    <img src="/images/storeSlide-2.png" alt="electronics" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>

  <div id="slide3" class="carousel-item relative w-full">
    <div class="absolute inset-x-0 top-0 pl-4">
      <h2 class="card-title w-fit rounded-xl bg-paleGreen">Winter Sale!</h2>
      <p>Save up to 40% on men's fall fashion.</p>
    </div>
    <img src="/images/storeSlide-3.png" alt="clothes with sales tags on them" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div>
  
  <div id="slide4" class="carousel-item relative w-full">
    <div class="absolute inset-x-0 top-0 pl-4">
      <h2 class="card-title"> Unbelievable Savings!
        <div class="badge badge-error gap-1 text-ghostWhite">
          <svg fill="#ffd500" height="13px" width="13px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611.999 611.999" xml:space="preserve"
            stroke="#ff7300">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952 c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029 c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851 c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386 c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073 c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826 C153.666,566.767,185.212,594.814,216.02,611.195z">
                </path>
              </g>
            </g>
          </svg>
          LIMITED TIME DEALS
        </div>
      </h2>
      <p>Up to 75% off select products. </p>
    </div>
    <img src="/images/storeSlide-4.png" alt="jewelry" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>



<footer class="relative z-10 p-10 pt-20 dark:bg-dark lg:pb-20 lg:pt-[120px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap justify-between">
      <div class="w-full px-4 sm:w-2/3 lg:w-3/12">
        <div class="mb-10 w-full">
          <a href="javascript:void(0)" class="mb-6 inline-block max-w-[160px]">
            <img src="/images/storeLogo.gif" alt="logo" class="max-w-full" />

          </a>
          <p class="mb-7 text-base text-body-color dark:text-dark-6">
            The realist, really real, but also super fake, Real Fake Store!
            We're real, we promise...
          </p>
          <p class="flex items-center text-sm font-medium text-dark dark:text-white">
            <span class="mr-3 text-primary">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_941_15626)">
                  <path
                    d="M15.1875 19.4688C14.3438 19.4688 13.375 19.25 12.3125 18.8438C10.1875 18 7.84377 16.375 5.75002 14.2813C3.65627 12.1875 2.03127 9.84377 1.18752 7.68752C0.250019 5.37502 0.343769 3.46877 1.43752 2.40627C1.46877 2.37502 1.53127 2.34377 1.56252 2.31252L4.18752 0.750025C4.84377 0.375025 5.68752 0.562525 6.12502 1.18752L7.96877 3.93753C8.40627 4.59378 8.21877 5.46877 7.59377 5.90627L6.46877 6.68752C7.28127 8.00002 9.59377 11.2188 13.2813 13.5313L13.9688 12.5313C14.5 11.7813 15.3438 11.5625 16.0313 12.0313L18.7813 13.875C19.4063 14.3125 19.5938 15.1563 19.2188 15.8125L17.6563 18.4375C17.625 18.5 17.5938 18.5313 17.5625 18.5625C17 19.1563 16.1875 19.4688 15.1875 19.4688ZM2.37502 3.46878C1.78127 4.12503 1.81252 5.46877 2.50002 7.18752C3.28127 9.15627 4.78127 11.3125 6.75002 13.2813C8.68752 15.2188 10.875 16.7188 12.8125 17.5C14.5 18.1875 15.8438 18.2188 16.5313 17.625L18.0313 15.0625C18.0313 15.0313 18.0313 15.0313 18.0313 15L15.2813 13.1563C15.2813 13.1563 15.2188 13.1875 15.1563 13.2813L14.4688 14.2813C14.0313 14.9063 13.1875 15.0938 12.5625 14.6875C8.62502 12.25 6.18752 8.84377 5.31252 7.46877C4.90627 6.81252 5.06252 5.96878 5.68752 5.53128L6.81252 4.75002V4.71878L4.96877 1.96877C4.96877 1.93752 4.93752 1.93752 4.90627 1.96877L2.37502 3.46878Z"
                    fill="currentColor" />
                  <path
                    d="M18.3125 8.90633C17.9375 8.90633 17.6563 8.62508 17.625 8.25008C17.375 5.09383 14.7813 2.56258 11.5938 2.34383C11.2188 2.31258 10.9063 2.00008 10.9375 1.59383C10.9688 1.21883 11.2813 0.906333 11.6875 0.937583C15.5625 1.18758 18.7188 4.25008 19.0313 8.12508C19.0625 8.50008 18.7813 8.84383 18.375 8.87508C18.375 8.90633 18.3438 8.90633 18.3125 8.90633Z"
                    fill="currentColor" />
                  <path
                    d="M15.2187 9.18755C14.875 9.18755 14.5625 8.93755 14.5312 8.56255C14.3437 6.87505 13.0312 5.56255 11.3437 5.3438C10.9687 5.31255 10.6875 4.93755 10.7187 4.56255C10.75 4.18755 11.125 3.9063 11.5 3.93755C13.8437 4.2188 15.6562 6.0313 15.9375 8.37505C15.9687 8.75005 15.7187 9.0938 15.3125 9.1563C15.25 9.18755 15.2187 9.18755 15.2187 9.18755Z"
                    fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_941_15626">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <span>+420 (696) 3724</span>
          </p>
        </div>
      </div>
      <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-dark dark:text-white">
            Top Categories
          </h4>
          <ul class="space-y-3">
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Electronics
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Mensware
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Womensware
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Jewelry
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="w-full px-4 sm:w-1/2 lg:w-3/12">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-dark dark:text-white">
            Follow Us On
          </h4>
          <div class="mb-6 flex items-center">
            <a href="https://github.com/LexiKHecht/Fake-store"
              class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-stroke text-dark hover:border-paleGreen hover:bg-paleGreen hover:text-white dark:border-dark-3 dark:text-white dark:hover:border-primary sm:mr-4 lg:mr-3 xl:mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
              </svg>
            </a>
            <a href="https://dashboard.heroku.com/apps/boiling-harbor-15362"
              class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-stroke text-dark hover:border-paleGreen hover:bg-paleGreen hover:text-white dark:border-dark-3 dark:text-white dark:hover:border-primary sm:mr-4 lg:mr-3 xl:mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="900.000000pt" height="900.000000pt"
                viewBox="0 0 900.000000 900.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                  <path
                    d="M4225 8991 c10 -17 -13 -22 -157 -31 -79 -6 -168 -14 -198 -20 -30 -5 -100 -16 -155 -25 -107 -17 -125 -21 -365 -83 -197 -51 -236 -63 -340 -102 -47 -17 -99 -36 -117 -41 -18 -5 -45 -16 -60 -24 -15 -8 -32 -15 -36 -15 -5 0 -34 -11 -65 -26 -31 -14 -70 -31 -87 -38 -196 -87 -480 -245 -650 -361 -288 -197 -457 -336 -680 -561 -269 -270 -465 -518 -656 -829 -84 -136 -205 -365 -265 -500 -7 -16 -24 -56 -38 -87 -15 -31 -26 -60 -26 -65 -1 -4 -9 -26 -20 -48 -11 -22 -19 -46 -20 -53 0 -7 -4 -20 -10 -30 -26 -46 -78 -213 -132 -422 -59 -233 -66 -260 -77 -330 -6 -36 -18 -108 -26 -160 -53 -319 -54 -948 -1 -1290 36 -238 34 -228 104 -500 56 -216 106 -377 132 -422 6 -10 10 -23 10 -30 1 -7 9 -31 20 -53 11 -22 19 -44 20 -48 0 -5 11 -34 26 -65 14 -31 31 -70 38 -87 60 -135 181 -364 265 -500 51 -84 74 -119 186 -281 55 -79 242 -311 314 -389 162 -175 344 -345 526 -494 266 -216 610 -427 945 -579 132 -60 159 -72 167 -72 4 -1 26 -9 48 -20 22 -11 46 -19 53 -20 7 0 20 -4 30 -10 44 -25 202 -74 417 -131 227 -59 237 -61 285 -69 385 -64 507 -74 860 -74 267 0 456 11 610 33 151 23 266 43 320 56 30 8 114 28 185 45 138 34 434 127 450 141 5 5 16 9 25 9 8 1 33 9 55 20 22 11 43 19 47 20 4 0 33 12 65 26 32 14 78 35 103 46 212 95 461 234 640 357 36 24 85 58 110 75 70 47 325 251 399 319 163 151 348 345 446 467 33 41 62 77 65 80 12 11 108 138 136 180 17 25 51 74 75 110 119 172 274 451 364 655 8 17 25 56 39 88 14 32 26 61 26 65 1 4 9 25 20 47 11 22 19 47 20 56 0 8 4 19 9 25 14 16 108 314 141 449 17 72 37 155 45 185 30 122 75 434 76 533 2 87 11 133 27 129 9 -1 12 62 12 259 0 224 -2 263 -15 273 -12 8 -18 44 -25 146 -5 74 -19 196 -31 270 -12 74 -25 158 -29 187 -5 28 -11 56 -14 61 -3 6 -13 43 -21 84 -29 146 -144 528 -166 552 -5 6 -9 17 -9 25 -1 9 -9 34 -20 56 -11 22 -19 43 -20 47 0 7 -20 54 -65 153 -103 227 -241 476 -364 655 -24 36 -58 85 -74 110 -129 192 -402 499 -642 721 -80 74 -311 260 -394 317 -163 112 -191 131 -276 183 -142 87 -325 184 -485 257 -140 64 -167 75 -190 83 -14 4 -50 17 -80 29 -202 77 -261 95 -660 195 -98 25 -382 66 -518 75 -134 9 -157 14 -147 31 4 5 -100 9 -265 9 -165 0 -269 -4 -265 -9z m2048 -2280 c64 -33 146 -101 175 -146 27 -44 51 -107 61 -161 15 -81 15 -3747 0 -3830 -25 -137 -103 -238 -238 -306 l-66 -33 -1715 0 -1715 0 -65 32 c-133 66 -216 173 -240 307 -15 86 -14 3751 1 3832 16 86 55 162 114 219 58 57 149 106 215 116 25 3 801 6 1725 5 l1680 -1 68 -34z" />
                  <path
                    d="M2860 6503 c-55 -8 -67 -13 -98 -41 -66 -59 -62 77 -62 -1972 0 -2049 -4 -1913 62 -1972 18 -16 44 -32 58 -36 33 -9 3307 -9 3340 0 40 11 88 61 105 107 22 64 23 3736 0 3800 -15 45 -35 68 -80 97 -28 18 -78 19 -1665 20 -899 1 -1646 0 -1660 -3z m1054 -439 c14 -14 16 -86 16 -640 0 -619 0 -624 20 -624 11 0 28 4 38 9 16 9 53 20 184 55 89 24 189 45 272 56 43 5 82 12 86 15 5 3 91 5 192 6 199 0 272 -12 391 -65 186 -82 336 -267 372 -456 11 -63 5 -1492 -7 -1507 -13 -16 -398 -19 -429 -3 -18 10 -19 29 -19 698 0 429 -4 701 -10 723 -16 59 -51 101 -110 131 l-55 29 -160 -4 c-88 -2 -180 -9 -205 -15 -25 -6 -106 -25 -180 -42 -134 -31 -190 -48 -325 -96 -99 -36 -140 -53 -220 -89 -285 -132 -275 -128 -291 -114 -22 18 -16 1925 6 1939 8 5 106 10 217 10 170 0 204 -2 217 -16z m1570 3 c17 -13 18 -19 7 -83 -13 -73 -36 -158 -52 -186 -5 -10 -9 -23 -9 -29 0 -39 -104 -224 -198 -351 l-64 -88 -224 0 c-177 0 -224 3 -224 13 0 7 29 57 64 110 35 54 84 137 109 185 61 119 137 334 137 388 0 48 28 54 240 54 148 0 201 -3 214 -13z m-1919 -2314 c85 -78 127 -116 209 -188 44 -39 87 -77 96 -85 9 -8 36 -33 61 -55 74 -65 79 -51 -66 -180 -44 -38 -122 -108 -175 -155 -52 -47 -113 -102 -135 -122 -22 -21 -50 -38 -62 -38 l-23 0 0 435 0 435 23 0 c12 0 44 -21 72 -47z" />
                </g>
              </svg> </a>
          </div>
          <p class="text-base text-body-color dark:text-dark-6">
            &copy; 2024 TheRealFakeStore
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span class="absolute bottom-0 left-0 z-[-1]">
      <svg width="217" height="229" viewBox="0 0 217 229" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z"
          fill="url(#paint0_linear_1179_5)" />
        <defs>
          <linearGradient id="paint0_linear_1179_5" x1="76.5" y1="281" x2="76.5" y2="1.22829e-05"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#3056D3" stop-opacity="0.08" />
            <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </span>
  </div>
</footer>


{{/unless}}
{{#if logged_in}}
{{#if products}}
{{log products}}

<div class="grid grid-cols-4 gap-4">
  {{!-- Iterates over an array of products, and for each product, it renders a partial template named product.
   The product partial template is expected to receive data  --}}
  {{#each products as |product|}}

  {{> product}}

  {{/each}}
</div>
<footer class="relative z-10 p-10 pt-20 dark:bg-dark lg:pb-20 lg:pt-[120px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap justify-between">
      <div class="w-full px-4 sm:w-2/3 lg:w-3/12">
        <div class="mb-10 w-full">
          <a href="javascript:void(0)" class="mb-6 inline-block max-w-[160px]">
            <img src="/images/storeLogo.gif" alt="logo" class="max-w-full" />

          </a>
          <p class="mb-7 text-base text-body-color dark:text-dark-6">
            The realist, really real, but also super fake, Real Fake Store!
            We're real, we promise...
          </p>
          <p class="flex items-center text-sm font-medium text-dark dark:text-white">
            <span class="mr-3 text-primary">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_941_15626)">
                  <path
                    d="M15.1875 19.4688C14.3438 19.4688 13.375 19.25 12.3125 18.8438C10.1875 18 7.84377 16.375 5.75002 14.2813C3.65627 12.1875 2.03127 9.84377 1.18752 7.68752C0.250019 5.37502 0.343769 3.46877 1.43752 2.40627C1.46877 2.37502 1.53127 2.34377 1.56252 2.31252L4.18752 0.750025C4.84377 0.375025 5.68752 0.562525 6.12502 1.18752L7.96877 3.93753C8.40627 4.59378 8.21877 5.46877 7.59377 5.90627L6.46877 6.68752C7.28127 8.00002 9.59377 11.2188 13.2813 13.5313L13.9688 12.5313C14.5 11.7813 15.3438 11.5625 16.0313 12.0313L18.7813 13.875C19.4063 14.3125 19.5938 15.1563 19.2188 15.8125L17.6563 18.4375C17.625 18.5 17.5938 18.5313 17.5625 18.5625C17 19.1563 16.1875 19.4688 15.1875 19.4688ZM2.37502 3.46878C1.78127 4.12503 1.81252 5.46877 2.50002 7.18752C3.28127 9.15627 4.78127 11.3125 6.75002 13.2813C8.68752 15.2188 10.875 16.7188 12.8125 17.5C14.5 18.1875 15.8438 18.2188 16.5313 17.625L18.0313 15.0625C18.0313 15.0313 18.0313 15.0313 18.0313 15L15.2813 13.1563C15.2813 13.1563 15.2188 13.1875 15.1563 13.2813L14.4688 14.2813C14.0313 14.9063 13.1875 15.0938 12.5625 14.6875C8.62502 12.25 6.18752 8.84377 5.31252 7.46877C4.90627 6.81252 5.06252 5.96878 5.68752 5.53128L6.81252 4.75002V4.71878L4.96877 1.96877C4.96877 1.93752 4.93752 1.93752 4.90627 1.96877L2.37502 3.46878Z"
                    fill="currentColor" />
                  <path
                    d="M18.3125 8.90633C17.9375 8.90633 17.6563 8.62508 17.625 8.25008C17.375 5.09383 14.7813 2.56258 11.5938 2.34383C11.2188 2.31258 10.9063 2.00008 10.9375 1.59383C10.9688 1.21883 11.2813 0.906333 11.6875 0.937583C15.5625 1.18758 18.7188 4.25008 19.0313 8.12508C19.0625 8.50008 18.7813 8.84383 18.375 8.87508C18.375 8.90633 18.3438 8.90633 18.3125 8.90633Z"
                    fill="currentColor" />
                  <path
                    d="M15.2187 9.18755C14.875 9.18755 14.5625 8.93755 14.5312 8.56255C14.3437 6.87505 13.0312 5.56255 11.3437 5.3438C10.9687 5.31255 10.6875 4.93755 10.7187 4.56255C10.75 4.18755 11.125 3.9063 11.5 3.93755C13.8437 4.2188 15.6562 6.0313 15.9375 8.37505C15.9687 8.75005 15.7187 9.0938 15.3125 9.1563C15.25 9.18755 15.2187 9.18755 15.2187 9.18755Z"
                    fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_941_15626">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <span>+420 (696) 3724</span>
          </p>
        </div>
      </div>
      <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-dark dark:text-white">
            Top Categories
          </h4>
          <ul class="space-y-3">
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Electronics
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Mensware
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Womensware
              </a>
            </li>
            <li>
              <a class="inline-block text-base leading-loose text-body-color  dark:text-dark-6">
                Jewelry
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="w-full px-4 sm:w-1/2 lg:w-3/12">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-dark dark:text-white">
            Follow Us On
          </h4>
          <div class="mb-6 flex items-center">
            <a href="https://github.com/LexiKHecht/Fake-store"
              class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-stroke text-dark hover:border-paleGreen hover:bg-paleGreen hover:text-white dark:border-dark-3 dark:text-white dark:hover:border-primary sm:mr-4 lg:mr-3 xl:mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
              </svg>
            </a>
            <a href="https://dashboard.heroku.com/apps/boiling-harbor-15362"
              class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-stroke text-dark hover:border-paleGreen hover:bg-paleGreen hover:text-white dark:border-dark-3 dark:text-white dark:hover:border-primary sm:mr-4 lg:mr-3 xl:mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="900.000000pt" height="900.000000pt"
                viewBox="0 0 900.000000 900.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                  <path
                    d="M4225 8991 c10 -17 -13 -22 -157 -31 -79 -6 -168 -14 -198 -20 -30 -5 -100 -16 -155 -25 -107 -17 -125 -21 -365 -83 -197 -51 -236 -63 -340 -102 -47 -17 -99 -36 -117 -41 -18 -5 -45 -16 -60 -24 -15 -8 -32 -15 -36 -15 -5 0 -34 -11 -65 -26 -31 -14 -70 -31 -87 -38 -196 -87 -480 -245 -650 -361 -288 -197 -457 -336 -680 -561 -269 -270 -465 -518 -656 -829 -84 -136 -205 -365 -265 -500 -7 -16 -24 -56 -38 -87 -15 -31 -26 -60 -26 -65 -1 -4 -9 -26 -20 -48 -11 -22 -19 -46 -20 -53 0 -7 -4 -20 -10 -30 -26 -46 -78 -213 -132 -422 -59 -233 -66 -260 -77 -330 -6 -36 -18 -108 -26 -160 -53 -319 -54 -948 -1 -1290 36 -238 34 -228 104 -500 56 -216 106 -377 132 -422 6 -10 10 -23 10 -30 1 -7 9 -31 20 -53 11 -22 19 -44 20 -48 0 -5 11 -34 26 -65 14 -31 31 -70 38 -87 60 -135 181 -364 265 -500 51 -84 74 -119 186 -281 55 -79 242 -311 314 -389 162 -175 344 -345 526 -494 266 -216 610 -427 945 -579 132 -60 159 -72 167 -72 4 -1 26 -9 48 -20 22 -11 46 -19 53 -20 7 0 20 -4 30 -10 44 -25 202 -74 417 -131 227 -59 237 -61 285 -69 385 -64 507 -74 860 -74 267 0 456 11 610 33 151 23 266 43 320 56 30 8 114 28 185 45 138 34 434 127 450 141 5 5 16 9 25 9 8 1 33 9 55 20 22 11 43 19 47 20 4 0 33 12 65 26 32 14 78 35 103 46 212 95 461 234 640 357 36 24 85 58 110 75 70 47 325 251 399 319 163 151 348 345 446 467 33 41 62 77 65 80 12 11 108 138 136 180 17 25 51 74 75 110 119 172 274 451 364 655 8 17 25 56 39 88 14 32 26 61 26 65 1 4 9 25 20 47 11 22 19 47 20 56 0 8 4 19 9 25 14 16 108 314 141 449 17 72 37 155 45 185 30 122 75 434 76 533 2 87 11 133 27 129 9 -1 12 62 12 259 0 224 -2 263 -15 273 -12 8 -18 44 -25 146 -5 74 -19 196 -31 270 -12 74 -25 158 -29 187 -5 28 -11 56 -14 61 -3 6 -13 43 -21 84 -29 146 -144 528 -166 552 -5 6 -9 17 -9 25 -1 9 -9 34 -20 56 -11 22 -19 43 -20 47 0 7 -20 54 -65 153 -103 227 -241 476 -364 655 -24 36 -58 85 -74 110 -129 192 -402 499 -642 721 -80 74 -311 260 -394 317 -163 112 -191 131 -276 183 -142 87 -325 184 -485 257 -140 64 -167 75 -190 83 -14 4 -50 17 -80 29 -202 77 -261 95 -660 195 -98 25 -382 66 -518 75 -134 9 -157 14 -147 31 4 5 -100 9 -265 9 -165 0 -269 -4 -265 -9z m2048 -2280 c64 -33 146 -101 175 -146 27 -44 51 -107 61 -161 15 -81 15 -3747 0 -3830 -25 -137 -103 -238 -238 -306 l-66 -33 -1715 0 -1715 0 -65 32 c-133 66 -216 173 -240 307 -15 86 -14 3751 1 3832 16 86 55 162 114 219 58 57 149 106 215 116 25 3 801 6 1725 5 l1680 -1 68 -34z" />
                  <path
                    d="M2860 6503 c-55 -8 -67 -13 -98 -41 -66 -59 -62 77 -62 -1972 0 -2049 -4 -1913 62 -1972 18 -16 44 -32 58 -36 33 -9 3307 -9 3340 0 40 11 88 61 105 107 22 64 23 3736 0 3800 -15 45 -35 68 -80 97 -28 18 -78 19 -1665 20 -899 1 -1646 0 -1660 -3z m1054 -439 c14 -14 16 -86 16 -640 0 -619 0 -624 20 -624 11 0 28 4 38 9 16 9 53 20 184 55 89 24 189 45 272 56 43 5 82 12 86 15 5 3 91 5 192 6 199 0 272 -12 391 -65 186 -82 336 -267 372 -456 11 -63 5 -1492 -7 -1507 -13 -16 -398 -19 -429 -3 -18 10 -19 29 -19 698 0 429 -4 701 -10 723 -16 59 -51 101 -110 131 l-55 29 -160 -4 c-88 -2 -180 -9 -205 -15 -25 -6 -106 -25 -180 -42 -134 -31 -190 -48 -325 -96 -99 -36 -140 -53 -220 -89 -285 -132 -275 -128 -291 -114 -22 18 -16 1925 6 1939 8 5 106 10 217 10 170 0 204 -2 217 -16z m1570 3 c17 -13 18 -19 7 -83 -13 -73 -36 -158 -52 -186 -5 -10 -9 -23 -9 -29 0 -39 -104 -224 -198 -351 l-64 -88 -224 0 c-177 0 -224 3 -224 13 0 7 29 57 64 110 35 54 84 137 109 185 61 119 137 334 137 388 0 48 28 54 240 54 148 0 201 -3 214 -13z m-1919 -2314 c85 -78 127 -116 209 -188 44 -39 87 -77 96 -85 9 -8 36 -33 61 -55 74 -65 79 -51 -66 -180 -44 -38 -122 -108 -175 -155 -52 -47 -113 -102 -135 -122 -22 -21 -50 -38 -62 -38 l-23 0 0 435 0 435 23 0 c12 0 44 -21 72 -47z" />
                </g>
              </svg> </a>
          </div>
          <p class="text-base text-body-color dark:text-dark-6">
            &copy; 2024 TheRealFakeStore
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span class="absolute bottom-0 left-0 z-[-1]">
      <svg width="217" height="229" viewBox="0 0 217 229" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z"
          fill="url(#paint0_linear_1179_5)" />
        <defs>
          <linearGradient id="paint0_linear_1179_5" x1="76.5" y1="281" x2="76.5" y2="1.22829e-05"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#3056D3" stop-opacity="0.08" />
            <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </span>
  </div>
</footer>
{{else}}
<p>No products to display!!</p>
{{/if}}
{{/if}}