<div class='flex justify-between rounded-xl dark:border-dark-3'>
  <div class='flex flex-row justify-evenly'>
    <div class='w-full px-6'>
      <div class='my-6'>
        <div
          class='mb-5 h-custom overflow-hidden rounded-mdn flex flex-wrap content-between'
        >
          <div>
            <h1
              class='block mb-2 underline decoration-2 decoration-lightpink text-xl font-semibold text-dark dark:text-ghostwhite sm:text-2xl md:text-lx 2xl:text-2xl'
            >
              Purchase Confirmed! <button class="ml-6 bg-darkblue text-ghostWhite hover:bg-teal btn btn-xs sm:btn-sm md:btn-md lg:btn-wide">
                <a href='/'>
                Continue Shopping</a>
                </button>
            </h1>
            <h3
              class='block mb-8 text-xl font-semibold text-dark dark:text-ghostwhite sm:text-2xl md:text-lg 2xl:text-lg'
            >
              Your
              {{product_name}}
              was purchased for ${{product_price}}

            </h3>

            <h1>
              
            </h1>

            <img
              src={{product_img}}
              alt='user product'
              class='object-scale-down aspect-square h-full max-h-dvh'
            />
          </div>
          <div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>